:root {
  --default: #3B286D;
  --light:#B7B7B7;
}

.appContainer
{
  width: 414px;
  margin: auto;
  min-height: 100vh;
  height: auto;
}

.appContainer .svg--container
{
  display: block;
  width: 100%;
}

.container
{
  display: flex;
  position: relative;
  justify-content: center;
}

.container>div
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appContainer .svg--container.logoText
{
    height: 26%;
    padding: 9px;
    width: 40%;
    margin: auto;
}
.buttonElement
{
    margin-bottom: 18px;
}


/* Forms */
.form
{
  display: flex;
  flex-direction: column;
}
.form .errorText
{
  font-size: 10px;
  color: red;
}
.form input.error
{
  border-bottom: 1px solid red;
}
.form>label
{
  font-family: Roboto;
  color:  #707070;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
}

.form>label:not(:last-child)
{
  margin-bottom: 22px;
}

.form>label input::placeholder,
.form>label input
{
  
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #B7B7B7;
}

.form>label input
{
  border: none;
  border-bottom: 1px solid #B7B7B7;
  outline: none;
}

.form>label input:focus
{
  border-bottom: 1px solid var(--default);
}

.form .checkboxContainer {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin: 34px auto;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  font-size: 12px;
}

/* Hide the browser's default checkbox */
.form .checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  background-color: var(--light);
}

.form .chooseOption
{
  display: flex;
  justify-content: space-between;
}

/* On mouse-over, add a grey background color */
.form .checkboxContainer:hover input ~ .checkmark {
  background-color: var(--light);
}

/* When the checkbox is checked, add a blue background */
.form .checkboxContainer input:checked ~ .checkmark {
  background-color: var(--default);
}

/* Create the checkmark/indicator (hidden when not checked) */
.form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form .checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form .checkboxContainer .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* The container */
.form .radioContainer {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  width: 98px;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
  display: flex;
  align-items: center;
  height: 28px;
}

/* Hide the browser's default radio button */
.form .radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.form .radioContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--light);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.form .radioContainer .checkmark::after
{
  content: '';
    display: block;
    left: 5px;
    top: 3px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.form .radioContainer:hover input ~ .checkmark {
  background-color: var(--light);
}

/* When the radio button is checked, add a blue background */
.form .radioContainer input:checked ~ .checkmark {
  background-color: var(--default);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}



/* Forms */


/* Utilites */
.header--text
{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #0A0A0A;
  display: block;
}
.normal--text
{
  font-family: 'Merriweather';
  font-weight: 400;
  color:  #E5E5E5;
  font-size: 14px;
}
.normal--text--2
{
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3B286D;
}

.mg-lg
{
  margin-top: 14%;
}
.mg-md
{
  margin-top: 10%;
}
.mg-sm
{
  margin-top: 6%;
}
.mg-xs
{
  margin-top: 3%;
}
.text-center
{
  text-align: center;
}
.max-content-center
{
  width: max-content;
  margin: auto;
}

/* Utilites */