.appContainer
{
  width: 414px;
  margin: auto;
  min-height: 100vh;
  height: auto;
}

.appContainer .svg--container
{
  display: block;
  width: 100%;
}


/* Utilites */
.text-center
{
  text-align: center;
}
/* Utilites */